.container-carrossel{
    background-color: #44245E;
}

.container-exemplos{
    background-color: linen;
    margin-top: 3%;
    margin-bottom: 5rem;
}

.priMeio{
    width: 30%;
    margin-right: 2%;
    margin-left: 1%;
    margin-top: 6%;
    margin-bottom: 6%;
}

.terc{
    width: 30%;
    margin-right: 1%;
    margin-top: 6%;
    margin-bottom: 6%;
}